---
name: Run github/super-linter

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Checks syntax of our code
    steps:
      - id: git-checkout
        name: Checkout
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper
          # list of changed files within `super-linter`
          fetch-depth: 0
      - name: Lint Code Base
        uses: github/super-linter@v7
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SUPPRESS_POSSUM: true
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_CHECKOV: false
          VALIDATE_JSCPD: false
          VALIDATE_PYTHON_BLACK: false
          VALIDATE_PYTHON_ISORT: false
          VALIDATE_PYTHON_MYPY: false
          VALIDATE_PYTHON_PYINK: false
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_PYTHON_RUFF: true
          LINTER_RULES_PATH: /
          FILTER_REGEX_EXCLUDE: (.*/)?(LICENSE)
          YAML_CONFIG_FILE: .yamllint.yaml
          PYTHON_FLAKE8_CONFIG_FILE: .flake8

