---
name: Publish release

on:
  release:
    types:
      - "released"
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/linter.yml
  tests:
    uses: ./.github/workflows/tests.yml
  release:
    runs-on: ubuntu-latest
    name: Release to PyPi
    needs: [lint, tests]
    steps:
      - id: git-checkout
        name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install uv
        run: pip install uv
      - id: build-and-publish
        name: Build and publish to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          TWINE_NON_INTERACTIVE: "true"
        run: |
          uvx --from build pyproject-build
          uvx twine upload dist/*
