---
name: Run tests

on:
  workflow_dispatch:
  workflow_call:

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Run initializer test script
    steps:
      - id: git-checkout
        name: Checkout
        uses: actions/checkout@v4
      - id: test-script-1
        name: Test the initializers (First run)
        env:
          KEEP_VOLUMES: "true"
        run: |
          cd test
          ./test.sh
      - id: test-script-2
        name: Test the initializers (Second run)
        run: |
          cd test
          ./test.sh
